@charset "UTF-8";

.container {
width: 100vw;
    height: 600px;
    /* border: 1px solid red; */
    margin-top: 50px;
    margin-bottom: 50px;
    display: block;
    padding: 30px;
}

.planTitle {
	width: 100%;
	/* border: 1px solid red; */
	font-size: 40px;
	padding-left: 22px;
	word-spacing: 1px;
    letter-spacing: -1px;
    font-family:"Noto Sans KR";
}

.forOption {
	width: 100%;
	margin-top: 11px;
	text-align:right;
	/* border: 1px solid red; */
}

select#selectDays{
	
	width: 320px;
/*     margin-left: 30;
    margin-left: 17px; */
    float:right;
	
}

.detailInfo{
	
    width: 100%;
    height: 80%;
    margin-top: 11px;
    display: flex;
    /* border: 1px solid red; */
	
}

.forMap {
	width: 50%;
	height: 100%;
	/* border: 1px solid red; */
	padding: 20px;
}

.forPlan {
	width: 50%;
	height: 100%;
	/* border: 1px solid red; */
	overflow-y: scroll;
}

.forPlan::-webkit-scrollbar{
	display:none;
	
}

.dayTitle{
	
	/* border:1px solid red; */
	size: 15px;
	text-align: right;
	
}

#printDay{
	margin:10px;
	font-size:20px;
}

.plan {
width: 100%;
    height: 90px;
    /* border: 1px solid red; */
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: block;
    background-color: #e9e9e9;
    padding-top: 5px;
    font-family:"Noto Sans KR:wght@100";
    }

#placeName {
	margin-bottom: 4px;
	font-size: 20px;
}

#address {
	font-size: 13px;
}

#memo {
	font-size: 15px;
	text-align:right;
	margin-right:10px;
}

.words {
	margin-left: 20px;
}

.planWords {
	line-height: 23px;
	margin-top: 5px;
}
.hide{
	display:none;
}
.optGuide{
	font-size: 15px;
    margin-bottom: 3px;
    font-style: oblique;
}